.projects {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(2, 1fr);
	box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.3);
	margin-top: 4rem;
}

.project {
	position: relative;
	overflow: hidden;
}
