.footer-container {
	background-color: black;
	display: flex;
	padding: 1rem 0 1rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 900px;
}

.socials-link {
	color: white;
	font-size: 40px;
}

.icon-socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
}

.copyright {
}
