@import "styles/config";
@import "styles/item_grid";
@import "styles/media";
@import "styles/utilities";

// General Styles
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}

// Logo
#logo {
	width: 230px;
	height: 120px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

// Header
#header {
	&-home {
		// Header Home
		background: black;
		height: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		position: sticky;
		top: 0;
		z-index: 999;
	}
}

// Navbar
#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

// About
#about {
	.about-info {
		display: grid;
		grid-template-areas:
			"aboutimg heading"
			"aboutimg aboutdesc";
		gap: 1rem;
	}

	//Grid Area
	.heading {
		grid-area: heading;
		align-self: center;
	}

	.about-image {
		grid-area: aboutimg;
		height: 600px;
		width: 460px;
	}

	.about-description {
		grid-area: aboutdesc;
	}
}

// Contact Page
#contact {
	.text-fields {
		display: grid;
		grid-template-areas:
			"name"
			"subject"
			"email"
			"message";
		gap: 1.2rem;

		// Grid Areas
		.name-input {
			grid-area: name;
		}
		.email-input {
			grid-area: email;
		}
		.subject-input {
			grid-area: subject;
		}
		.message-input {
			grid-area: message;
			height: 150px;
		}
	}
}
