@import "styles/config";
@import "styles/item_grid";
@import "styles/media";
@import "styles/utilities";

// General Styles
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}

// Logo
#logo {
	width: 230px;
	height: 120px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

// Header
#header {
	&-home {
		// Header Home
		background: black;
		height: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		position: sticky;
		top: 0;
		z-index: 999;
	}
}

// Navbar
#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;

	.nav-menu {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 50px;
		list-style: none;
		text-align: center;
		margin-right: 2rem;
	}

	.nav-item {
		height: 100px;
		.nav-active {
			text-decoration: underline;
		}
	}

	.nav-links {
		color: #fff;
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 0.5rem 1rem;
		height: 100%;

		&:hover {
			color: $medium-color;
			font-size: 1.5rem;
			transition: all 0.2s ease-out;
		}
	}
}

// About
#about {
	.about-info {
		display: grid;
		grid-template-areas:
			"aboutimg heading"
			"aboutimg aboutdesc";
		gap: 1rem;
	}

	//Grid Area
	.heading {
		grid-area: heading;
		align-self: center;
	}

	.underline {
		grid-area: line;
	}

	.about-image {
		grid-area: aboutimg;
		height: 640px;
		width: 480px;
	}

	.about-description {
		grid-area: aboutdesc;
	}
}

// Contact Page
#contact {
	.text-fields {
		display: grid;
		grid-template-areas:
			"name subject"
			"email phone"
			"message message";
		gap: 1.2rem;
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
		// Grid Areas
		.name-input {
			grid-area: name;
		}
		.email-input {
			grid-area: email;
		}
		.subject-input {
			grid-area: subject;
		}
		.phone-input {
			grid-area: phone;
		}
		.message-input {
			grid-area: message;
			height: 130px;
		}

		.text-input {
			padding: 0.5rem 1rem;
		}
	}

	button[type="submit"] {
		width: 50%;
	}
}
